[submodule "EquiBind"]
	path = EquiBind
	url = https://github.com/amfaber/EquiBind
[submodule "gnina"]
	path = gnina
	url = https://github.com/amfaber/gnina
[submodule "gflownet"]
	path = gflownet
	url = https://github.com/amfaber/gflownet
[submodule "GB_GA"]
	path = GB_GA
	url = https://github.com/jensengroup/GB_GA
